node_modules/
.DS_Store
*.log
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/app/src/main/assets/public/
android/app/src/main/assets/capacitor.config.json
android/app/src/main/assets/capacitor.plugins.json
# Local dev tools
check.ps1